body {
  margin: 0;
  font-family: "Eczar", serif, Courier, monospace;
  background: linear-gradient(
    to left,
    rgb(90, 128, 172) 0%,
    rgb(90, 128, 172) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}
